.a-optionSelect__container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin-top: 0.5rem;

    background-color: blue;
    /* border: 1px solid red; */
}

.a-optionSelect__header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;

    /* background-color: green; */
}

.a-optionSelect__header_text {
    margin: 1rem;
}

.a-optionSelect__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    background-color: yellow;
    /* border: 1px solid red; */
}

.a-optionSelect__icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;

  border: 2px solid red;
}

.a-optionSelect__icon--active {
    background-color: black;
}


/*
var(--color-1);
var(--color-2);
var(--highlight-10);
*/

