svg{
  /* background-color: var(--highlight-60); */
  /* width: 500px;
  height: 500px; */
  border: 1px solid var(--highlight-60);
}

/* .path {

} */

.mainPath {
  stroke-width: 30;
  fill: none;
  stroke: var(--highlight-10);
  opacity: 1;
}

.secondaryPath {
  stroke-width: 15;
  fill: none;
  /* stroke: var(--highlight-80); */
  stroke: var(--dusk-500);
  /* opacity: 1; */
  opacity: 0.5;
}

.parallelPath {
  stroke-width: 3;
  fill: none;
  stroke: var(--dusk-500);
  opacity: 1;
}

.displayNone {
  display: none;
}

.endPoint {
  stroke-width: 0;
  /* stroke: black; */
}

.primaryEndPoint {
  r: 7;
  /* fill: var(--dusk-500); */
  fill: var(--highlight-40);
  opacity: 1;
}

.primaryEndPoint_curve {
  r: 5;
  fill: var(--highlight-50);
}

.parallelEndPoint {
  r: 5;
  /* fill: var(--dusk-500); */
  fill: beige;
  opacity: 1;
  /* stroke-width: 0; */
  /* stroke: black; */
}
/* .parallelEndPoint:nth-child(even) {
  fill: hotpink;
} */
.paralellEndPoint_curve_east {
  r: 7;
  /* fill: var(--dusk-500); */
  fill: rgb(234, 159, 159);
  opacity: 1;
  /* stroke-width: 0; */
  /* stroke: black; */
}
.paralellEndPoint_curve_west {
  r: 5;
  /* fill: var(--dusk-500); */
  fill: rgb(39, 194, 225);
  opacity: 1;
  /* stroke-width: 0; */
  /* stroke: black; */
}

.joiner_endpoint {
  r: 9;
  fill: hotpink;
  opacity: .7;
}


/* TESTER ELEMENTS */
  /* ENDPOINTS */
    /* default */
      .testElement-endpoint {
        /* r: 5; */
        fill: red;
      }

  /* ARCS */
    /* default */
      .testElement-arc {
        r: 100;
        fill: none;
        stroke: red;
        stroke-width: 1;
        stroke-dasharray: 10;
      }

  /* PATHS */
    /* default */
      .testElement-path {
        fill: none;
        stroke: red;
        stroke-width: 1;
        stroke-dasharray: none;
        opacity: 1;
      }

  /* GENERAL */
    /* radius */
      .testElem-radius--unset{
        r: unset;
      }
      .testElem-radius--1{
        r: 1;
      }
      .testElem-radius--2{
        r: 2;
      }
      .testElem-radius--3{
        r: 3;
      }
      .testElem-radius--4{
        r: 4;
      }
      .testElem-radius--5{
        r: 5;
      }
      .testElem-radius--6{
        r: 6;
      }
      .testElem-radius--7{
        r: 7;
      }
      .testElem-radius--8{
        r: 8;
      }
      .testElem-radius--9{
        r: 9;
      }
      .testElem-radius--10{
        r: 10;
      }
      .testElem-radius--15{
        r: 15;
      }
      .testElem-radius--100{
        r: 100;
      }
    /* radius */

    /* strokeWidth */
      .testElem-strokeWidth--0{
        stroke-width: 0;
      }
      .testElem-strokeWidth--1{
        stroke-width: 1;
      }
      .testElem-strokeWidth--2{
        stroke-width: 2;
      }
      .testElem-strokeWidth--3{
        stroke-width: 3;
      }
      .testElem-strokeWidth--4{
        stroke-width: 4;
      }
      .testElem-strokeWidth--5{
        stroke-width: 5;
      }
      .testElem-strokeWidth--6{
        stroke-width: 6;
      }
      .testElem-strokeWidth--7{
        stroke-width: 7;
      }
      .testElem-strokeWidth--8{
        stroke-width: 8;
      }
      .testElem-strokeWidth--9{
        stroke-width: 9;
      }
      .testElem-strokeWidth--10{
        stroke-width: 10;
      }
    /* strokeWidth */

    /* dashArray */
    .testElem-dashArray--none{
      stroke-dasharray: none;
    }
    .testElem-dashArray--1{
      stroke-dasharray: 1 2;
    }
    .testElem-dashArray--2{
      stroke-dasharray: 2 2;
    }
    .testElem-dashArray--3{
      stroke-dasharray: 3 2;
    }
    .testElem-dashArray--4{
      stroke-dasharray: 4 2;
    }
    .testElem-dashArray--5{
      stroke-dasharray: 5 2;
    }
    .testElem-dashArray--10{
      stroke-dasharray: 10 2;
    }
  /* dashArray */

    /* colorPalettes */
      /* colorPallete 1 */
      .testElement-palette--1{
        --color-01: #22577aff;
        --color-02: #38a3a5ff;
        --color-03: #57cc99ff;
        --color-04: #80ed99ff;
        --color-05: #c7f9ccff;
      }
      .testElement-palette--2{
        --color-01: #9c89b8ff;
        --color-02: #f0a6caff;
        --color-03: #efc3e6ff;
        --color-04: #f0e6efff;
        --color-05: #b8beddff;
      }
      .testElement-palette--3{
        --color-01: #21295cff;
        --color-02: #1b3b6fff;
        --color-03: #065a82ff;
        --color-04: #1c7293ff;
        --color-05: #9eb3c2ff;
      }
      .testElement-palette--4{
        --color-01: #cc5803ff;
        --color-02: #e2711dff;
        --color-03: #ff9505ff;
        --color-04: #ffb627ff;
        --color-05: #ffc971ff;
      }
      .testElement-palette--5{
        --color-01: #ef6351ff;
        --color-02: #f38375ff;
        --color-03: #f7a399ff;
        --color-04: #fbc3bcff;
        --color-05: #ffe3e0ff;
      }
      .testElement-palette--6{
        --color-01: #f3e9dcff;
        --color-02: #c08552ff;
        --color-03: #5e3023ff;
        --color-04: #895737ff;
        --color-05: #dab49dff;
      }
    /* colorPalettes */

    /* fill */
      .testElem-fill-color--none{
        fill: none;
      }
      .testElem-fill-color--1{
        fill: var(--color-01);
      }
      .testElem-fill-color--2{
        fill: var(--color-02);
      }
      .testElem-fill-color--3{
        fill: var(--color-03);
      }
      .testElem-fill-color--4{
        fill: var(--color-04);
      }
      .testElem-fill-color--5{
        fill: var(--color-05);
      }
    /* fill */

    /* strokeColor */
      .testElem-stroke-color--none{
        stroke: none;
      }
      .testElem-stroke-color--1{
        stroke: var(--color-01);
      }
      .testElem-stroke-color--2{
        stroke: var(--color-02);
      }
      .testElem-stroke-color--3{
        stroke: var(--color-03);
      }
      .testElem-stroke-color--4{
        stroke: var(--color-04);
      }
      .testElem-stroke-color--5{
        stroke: var(--color-05);
      }
    /* strokeColor */
/* TESTER ELEMENTS */