<div class="b-header <%= THEME_moduleTheme %> <%= THEME_bHeaderContainerFill %>">
    <div class="b-header__container">
            <div class="b-header__sidebar b-header__sidebar--left">
                <div class="b-header__logo-container">
                    NOTCHERLOGO
                </div>
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">header</button>
                </div>
            </div>
            <div class="b-header__sidebar b-header__sidebar--right">
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 1</button>
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 2</button>
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 3</button>
                </div>
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--text" type="button">MENU</button>
                </div>
            </div>
    </div>
</div>