<!-- <script src="/javascripts/index.js"></script> -->
<!-- <script src="/javascripts/19Circle.js"></script> -->
<!-- <script src="/javascripts/soddyCircles.js"></script> -->
<!-- <script src="/javascripts/circleOffset.js"></script> -->
<!-- <script src="/javascripts/svgRectangle.js"></script> -->


<!-- <svg id="svg" viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid meet">
    <ellipse id="arc-shape" cx="0" cy="0" rx="0" ry="0" />
    <path id="arc-path" d="" />
</svg> -->
<!-- <script src="/javascripts/svgArcOrigEx.js"></script> -->
<!-- <script src="/javascripts/svgArcEdited.js"></script> -->




<svg xmlns="http://www.w3.org/2000/svg" id="mysvg" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet">

    <title>SVG curve</title>
    <desc>example curves in SVG</desc>
  
    <circle id="p1" cx="100" cy="250" r="30" class="control" />
    <circle id="p2" cx="400" cy="250" r="30" class="control" />
  
    <circle id="c1" cx="250" cy="100" r="20" class="control" />
  
    <line id="l1" x1="100" y1="250" x2="250" y2="100" />
    <line id="l2" x1="400" y1="250" x2="250" y2="100" />
  
    <path id="curve" d="M100,250 Q250,100 400,250" />
  
  </svg>
  
  <div id="output">
    <h1>SVG Quadratic B&eacute;zier Curve</h1>
    <p id="path"></p>
  </div>
  <script src="/javascripts/svgQuadraticBezier.js"></script>