<div class="a-canvas <%= THEME_moduleTheme %>">
    <div class="a-canvas__container <%= THEME_aCanvasContainerFill %>">
        <div class="a-canvas__zoomLayer" id="aCanvasZoomLayer">
            <div class="a-canvas__panLayer <%= THEME_aCanvasPanLayerFill %>" id="aCanvasPanLayer"></div>
        </div>
    </div>
</div>
<template id="aCanvasTemplate">
    <div class="a-canvas__slot">
        <% if (MODULE_aCanvas_first) { %>
            <%- include(MODULE_aCanvas_first, {}) %>
        <% } %>
    </div>
</template>

<script>
    const a_canvas_object = {}
</script>
<script type='module' src='./javascripts/html_modules/a_canvas.js'></script>


<!-- <script type="text/javascript" src="/javascripts/addCurvePointToLineAndDrawParallel.js"></script> -->
<!-- <script type="module" src="/javascripts/addCurvePointToLineAndDrawParallel.js"></script> -->

<!-- <script type="module" src="/javascripts/tests/move.js"></script> -->
<!-- <script type="text/javascript" src="/javascripts/tests/move.js"></script> -->

<!-- <script type="module" src="/javascripts/html_modules/a_canvas.js"></script> -->