<div class="a-canvas <%= THEME_moduleTheme %> <%= THEME_aSvgCanvasContainerFill %>">
    <div class="a-canvas__container">
        
        <div class="a-canvas__canvas">
            <div class="btn-container--column btn-align--center">
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
                <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">poop</button>
            </div>
        </div>
    </div>
</div>