:root {
    --opacity-var: 1.0;

    /* Colors */
    /* --main: rgba(0, 0, 0); */
    --main: 0, 0, 0;
    /* --main--muted: rgba(45, 45, 45); */
    --main--muted: 45, 45, 45;
    /* --accent-primary: rgba(151, 135, 135); */
    --accent-primary: 151, 135, 135;
    /* --accent-primary--muted: rgba(200, 182, 182); */
    --accent-primary--muted: 200, 182, 182;
    /* --accent-secondary: rgba(213, 165, 83); */
    --accent-secondary: 213, 165, 83;
    /* --accent-secondary--muted: rgba(184, 142, 70); */
    --accent-secondary--muted: 184, 142, 70;

    /* Fills */
    --main--fill: rgba(255, 255, 255);
    --main--muted--fill: rgba(190, 186, 186);
    --accent-primary--fill: rgba(147, 147, 147);
    --accent-primary--muted--fill: rgba(174, 160, 160);
    --accent-secondary--fill: rgba(211, 183, 135);
    --accent-secondary--muted--fill: rgba(187, 167, 130);

    /* Shader Overlay */
    --translucent-overlay: rgba(0, 0, 0, 0.1);
}

.clr-theme__test1 {
    /* Colors */
    --main: hsl(0, 0%, 11%);
    --main--muted: hsl(0, 0%, 29%);
    --accent-primary: hsl(351, 100%, 66%);
    --accent-primary--muted: hsla(351, 50%, 66%, 1);
    --accent-secondary: hsl(180, 76%, 49%);
    --accent-secondary--muted: hsla(180, 33%, 49%, 1);

    /* Fills */
    --main--fill: hsl(0, 41%, 19%);
    --main--muted--fill: hsl(0, 41%, 25%);
    --accent-primary--fill: hsl(185, 35%, 32%);
    --accent-primary--muted--fill: hsl(186, 28%, 28%);
    --accent-secondary--fill: rgb(211, 183, 135);
    --accent-secondary--muted--fill: rgb(187, 167, 130);

    /* Shader Overlay */
    --translucent-overlay: hsla(0, 0%, 0%, 0.3);
}

.clr-theme__test2 {
    /* Colors */
    --main: hsl(54, 86%, 31%);
    --main--muted: hsl(54, 40%, 31%);
    --accent-primary: hsl(136, 53%, 41%);
    --accent-primary--muted: hsl(136, 27%, 41%);
    --accent-secondary: hsl(16, 76%, 49%);
    --accent-secondary--muted: hsl(16, 38%, 49%);
    /* --accent-secondary--muted: blue; */

    /* Fills */
    --main--fill: hsl(0, 59%, 55%);
    --main--muted--fill: hsl(0, 44%, 47%);
    --accent-primary--fill: hsl(143, 59%, 55%);
    --accent-primary--muted--fill: hsl(0, 24%, 55%);
    --accent-secondary--fill: rgb(211, 183, 135);
    --accent-secondary--muted--fill: rgb(187, 167, 130);

    /* Shader Overlay */
    --translucent-overlay: hsla(0, 0%, 0%, 1);
}

.clr-theme__test3 {
    /* Colors */
    --main: rgb(255, 255, 255);
    --main--muted: rgb(190, 186, 186);
    --accent-primary: rgb(147, 147, 147);
    --accent-primary--muted: rgb(174, 160, 160);
    --accent-secondary: rgb(211, 183, 135);
    --accent-secondary--muted: rgb(187, 167, 130);

    /* Fills */
    --main--fill: rgb(0, 0, 0);
    --main--muted--fill: rgb(45, 45, 45);
    --accent-primary--fill: rgb(151, 135, 135);
    --accent-primary--muted--fill: rgb(200, 182, 182);
    --accent-secondary--fill: rgb(213, 165, 83);
    --accent-secondary--muted--fill: rgb(184, 142, 70);

    /* Shader Overlay */
    --translucent-overlay: rgba(255, 255, 255, 0.1);
}




/* Colors */
.clr-theme__main {
    /* color: var(--main); */
    color: rgba(var(--main), var(--opacity-var))
}
.clr-theme__main--muted {
    /* color: var(--main--muted); */
    color: rgba(var(--main--muted), var(--opacity-var))
}
.clr-theme__accent-primary {
    /* color: var(--accent-primary); */
    color: rgba(var(--accent-primary), var(--opacity-var))
}
.clr-theme__accent-primary--muted {
    /* color: var(--accent-primary--muted); */
    color: rgba(var(--accent-primary--muted), var(--opacity-var))
}
.clr-theme__accent-secondary {
    /* color: var(--accent-secondary); */
    color: rgba(var(--accent-secondary), var(--opacity-var))
}
.clr-theme__accent-secondary--muted {
    /* color: var(--accent-secondary--muted); */
    color: rgba(var(--accent-secondary--muted), var(--opacity-var))
}
/* Translucent Overlay */
.clr-theme__translucent-overlay{
    /* color: var(--translucent-overlay) */
    color: rgba(var(--translucent-overlay), var(--opacity-var))
}
/* 
Fills using Colors 
*Should be rarely used.
*/
.clr-theme__accent-secondary--muted--color--fill {
    background-color: var(--accent-secondary--muted);
}

/* Fills */
.clr-theme__main--fill {
    background-color: var(--main--fill);
}
.clr-theme__main--muted--fill {
    background-color: var(--main--muted--fill);
}
.clr-theme__accent-primary--fill {
    background-color: var(--accent-primary--fill);
}
.clr-theme__accent-primary--muted--fill {
    background-color: var(--accent-primary--muted--fill);
}
.clr-theme__accent-secondary--fill {
    background-color: var(--accent-secondary--fill);
}
.clr-theme__accent-secondary--muted--fill {
    background-color: var(--accent-secondary--muted--fill);
}
/* Translucent Overlay */
.clr-theme__translucent-overlay--fill{
    background-color: var(--translucent-overlay)
}

/* Psudo Classes */
/* HOVERS */
/* hover color*/
.clr-theme__accent-primary--hover:hover{
    color: var(--accent-primary);
    cursor: pointer;
}
.clr-theme__accent-secondary--muted--hover:hover{
    color: var(--accent-secondary--muted);
    cursor: pointer;
}
/* hover fill*/
.clr-theme__translucent-overlay--fill--hover:hover{
    background-color: var(--translucent-overlay);
    /* cursor: pointer; */
}
/* BORDERS */
/* border color */
.clr-theme__main--border-color {
    border-color: var(--main);
}
.clr-theme__translucent-overlay--border-color {
    border-color: var(--translucent-overlay);
}

.opacity--90{
    --opacity-var: 0.9
}
.opacity--80{
    --opacity-var: 0.8
}
.opacity--70{
    --opacity-var: 0.7
}
.opacity--60{
    --opacity-var: 0.6
}
.opacity--50{
    --opacity-var: 0.5
}
.opacity--40{
    --opacity-var: 0.4
}
.opacity--30{
    --opacity-var: 0.3
}
.opacity--20{
    --opacity-var: 0.2
}
.opacity--10{
    --opacity-var: 0.1
}