.BASICALLY_COLORS_USED{
    /* LIGHT */
    /* MAIN */
    --MAIN1: #2f7fef;
    --MAIN2: #fff;
    --MAIN3: #768ba7;
    --MAIN4:#adbacc;
    /* (ACTUALLY USED, USE ABOVE INSTEAD) */
    --MAIN4: rgba(172,189,211,0.25);;
    /* HIGHLIGHTS */
    --HILI1: #2f7fef;
    --HILI2: #ea5e5e;
    --HILI3: #18c4a9;
    --HILI4: #aa5eea;
    --HILI5: #acbdd3;
    --HILI6: #f8ab4b;
    --HILI7: #EB60BC;
    --HILI8: #99CE43;
    
    /* DARK */
    /* MAIN */
    --MAIN1: #fff;
    --MAIN2: #445670;
    --MAIN3: #96b9e9;
    --MAIN4: #617796;
    /* (ACTUALLY USED, USE ABOVE INSTEAD) */
    --MAIN4: rgba(172,189,211,0.25);;
    /* HIGHLIGHTS */
    --HILI1: #2f7fef;
    --HILI2: #ea5e5e;
    --HILI3: #18c4a9;
    --HILI4: #aa5eea;
    --HILI5: #acbdd3;
    --HILI6: #f8ab4b;
    --HILI7: #EB60BC;
    --HILI8: #99CE43;
}

:root {
    /* https://uicolors.app/edit?sv1=atlantis:50-f6fbea/100-eaf6d1/200-d6eea8/300-b9e076/400-99ce43/500-7fb52d/600-629020/700-4b6e1d/800-3e581c/900-354b1c;brilliant-rose:50-fdf2fa/100-fce7f7/200-fad0ef/300-f7aae1/400-f175cb/500-eb60bc/600-d72b94/700-ba1c79/800-9a1a63/900-811a54;casablanca:50-fff9ed/100-fef1d6/200-fcdfac/300-fbc876/400-f8ab4b/500-f58b1a/600-e66f10/700-bf540f/800-984314/900-7a3914;casper:50-f4f7fa/100-e7ecf2/200-d4dce9/300-acbdd3/400-94a8c6/500-7b8fb6/600-687aa8/700-5d6a98/800-4f587e/900-434b65;medium-purple:50-faf6fe/100-f4eafd/200-ead8fc/300-dabaf8/400-c38df3/500-aa5eea/600-9741dc/700-812fc1/800-6e2b9e/900-5a247f;java:50-f0fdf9/100-cdfaef/200-9af5df/300-60e8cd/400-2fd2b5/500-18c4a9/600-0f9280/700-107568/800-125d54/900-144d46;mandy:50-fdf3f3/100-fde3e3/200-fccccc/300-f8a9a9/400-f27777/500-ea5e5e/600-d42e2e/700-b22323/800-942020/900-7b2121;blue-bayoux:50-f6f7f9/100-ebeef3/200-d4dae3/300-adbacc/400-8195af/500-617796/600-4d607c/700-3f4d65/800-374355/900-313a49;royal-blue:50-eff8ff/100-daeeff/200-bee2ff/300-91d0ff/400-5eb5fc/500-3895f9/600-2f7fef/700-1a61db/800-1c4eb1/900-1c458c */
    /* colors */
    --default: #2f7fef;
    --blue: #2f7fef;
    --blue-light: #96b9e9;
    --blue-grey: #768ba7;
    --dusk: #4d607c;
    --coral: #ea5e5e;
    --topaz: #18c4a9;
    --purple: #aa5eea;
    --cloudy: #acbdd3;
    --orange: #f8a949;
    --pink: #eb60bc;
    --green: #99ce43;
    --bw-050: #f7f7f7;
    --bw-900: #131313;

    --blue-050:#e9fcf8;
    --blue-100:#daeeff;
    --blue-200:#bee2ff;
    --blue-300:#91d0ff;
    --blue-400:#5eb5fc;
    --blue-500:#3895f9;
    --blue-600:#2f7fef; /* OCT DARK */ /* OCT LIGHT */
    --blue-700:#1a61db;
    --blue-800:#1c4eb1;
    --blue-900:#1c458c;

    --blue-light-050:#f2f5fc;
    --blue-light-100:#e1eaf8;
    --blue-light-200:#c9daf4;
    --blue-light-300:#96b9e9;  /* OCT DARK */
    --blue-light-400:#79a3e1;
    --blue-light-500:#5983d8;
    --blue-light-600:#4568cb;
    --blue-light-700:#3b56ba;
    --blue-light-800:#354798;
    --blue-light-900:#2f3e79;
    
    --blue-grey-050:#f6f7f9;
    --blue-grey-100:#ebeef3;
    --blue-grey-200:#d4dae3;
    --blue-grey-300:#aebacb;
    --blue-grey-400:#768ba7; /* OCT LIGHT */
    --blue-grey-500:#627895;
    --blue-grey-600:#4d607c;
    --blue-grey-700:#404d64;
    --blue-grey-800:#374255;
    --blue-grey-900:#323a48;

    --dusk-050:#f6f7f9;
    --dusk-100:#ebeef3;
    --dusk-200:#d4dae3;
    --dusk-300:#adbacc; /* OCT LIGHT */
    --dusk-400:#8195af;
    --dusk-500:#617796; /* OCT DARK */
    --dusk-600:#4d607c; /* OCT DARK use this for #445670*/
    --dusk-700:#3f4d65;    
    --dusk-800:#374355;
    --dusk-900:#313a49;

    --coral-050:#fdf3f3;
    --coral-100:#fde3e3;
    --coral-200:#fccccc;
    --coral-300:#f8a9a9;
    --coral-400:#f27777;
    --coral-500:#ea5e5e;
    --coral-600:#d42e2e;
    --coral-700:#b22323;
    --coral-800:#942020;
    --coral-900:#7b2121;

    --topaz-050:#e9fcf8;
    --topaz-100:#cef8f1;
    --topaz-200:#9df1e3;
    --topaz-300:#5ee8d8;
    --topaz-400:#2ed1c1;
    --topaz-500:#18c4a9; /* OCT DARK */ /* OCT LIGHT */
    --topaz-600:#148f89;
    --topaz-700:#11746f;
    --topaz-800:#125e5c;
    --topaz-900:#144d4b;

    --purple-050:#faf6fe;
    --purple-100:#f4eafd;
    --purple-200:#ead8fc;
    --purple-300:#dabaf8;
    --purple-400:#c38df3;
    --purple-500:#aa5eea;
    --purple-600:#9741dc;
    --purple-700:#812fc1;
    --purple-800:#6e2b9e;
    --purple-900:#5a247f;

    --cloudy-050:#f4f7fa;
    --cloudy-100:#e7ecf2;
    --cloudy-200:#d4dce9;
    --cloudy-300:#acbdd3;
    --cloudy-400:#94a8c6;
    --cloudy-500:#7b8fb6;
    --cloudy-600:#687aa8;
    --cloudy-700:#5d6a98;
    --cloudy-800:#4f587e;
    --cloudy-900:#434b65;

    --orange-050:#f4f7fa;
    --orange-100:#fef1d6;
    --orange-200:#fcdfac;
    --orange-300:#fbc876;
    --orange-400:#f8a949;
    --orange-500:#f58b1a;
    --orange-600:#e66f10;
    --orange-700:#bf540f;
    --orange-800:#984314;
    --orange-900:#7a3914;

    --pink-050:#fdf2fa;
    --pink-100:#fce7f7;
    --pink-200:#fad0ef;
    --pink-300:#f7aae1;
    --pink-400:#f175cb;
    --pink-500:#eb60bc;
    --pink-600:#d72b94;
    --pink-700:#ba1c79;
    --pink-800:#9a1a63;
    --pink-900:#811a54;

    --green-050:#f6fbea;
    --green-100:#eaf6d1;
    --green-200:#d6eea8;
    --green-300:#b9e076;
    --green-400:#99ce43;
    --green-500:#7fb52d;
    --green-600:#629020;
    --green-700:#4b6e1d;
    --green-800:#3e581c;
    --green-900:#354b1c;

    --bw-050:#f7f7f7; /* OCT DARK use this for #fff*/ /* OCT LIGHT use this for #fff*/
    --bw-100:#e3e3e3;
    --bw-200:#c8c8c8;
    --bw-300:#a4a4a4;
    --bw-400:#818181;
    --bw-500:#666666;
    --bw-600:#515151;
    --bw-700:#434343;
    --bw-800:#383838;
    --bw-900:#131313;
    /* colors */

    /* COLORS THAT DON'T CHANGE BASED ON THEME OR MODE */
    --bw-00: var(--bw-050);
    --bw-10: var(--bw-100);
    --bw-20: var(--bw-200);
    --bw-30: var(--bw-300);
    --bw-40: var(--bw-400);
    --bw-50: var(--bw-500);
    --bw-60: var(--bw-600);
    --bw-70: var(--bw-700);
    --bw-80: var(--bw-800);
    --bw-90: var(--bw-900);
    --bw-00--fill: var(--bw-050);
    --bw-10--fill: var(--bw-100);
    --bw-20--fill: var(--bw-200);
    --bw-30--fill: var(--bw-300);
    --bw-40--fill: var(--bw-400);
    --bw-50--fill: var(--bw-500);
    --bw-60--fill: var(--bw-600);
    --bw-70--fill: var(--bw-700);
    --bw-80--fill: var(--bw-800);
    --bw-90--fill: var(--bw-900);
    /* COLORS THAT DON'T CHANGE BASED ON THEME OR MODE */

    /* COLORS THAT DON'T CHANGE BASED ON MODE */
    --highlight-10: var(--blue);
    --highlight-20: var(--dusk);
    --highlight-30: var(--coral);
    --highlight-40: var(--topaz);
    --highlight-50: var(--purple);
    --highlight-60: var(--cloudy);
    --highlight-70: var(--orange);
    --highlight-80: var(--pink);
    --highlight-90: var(--green);
    --highlight-10--fill: var(--blue);
    --highlight-20--fill: var(--dusk);
    --highlight-30--fill: var(--coral);
    --highlight-40--fill: var(--topaz);
    --highlight-50--fill: var(--purple);
    --highlight-60--fill: var(--cloudy);
    --highlight-70--fill: var(--orange);
    --highlight-80--fill: var(--pink);
    --highlight-90--fill: var(--green);
    /* COLORS THAT DON'T CHANGE BASED ON MODE */
    
    /* DEFAULT THEME */
        /* LIGHT MODE */
            /* Colors */
                --main_LIGHT: var(--blue-600);
                --main--muted_LIGHT: var(--blue-400);
                --accent-primary_LIGHT: var(--blue-grey-500);
                --accent-primary--muted_LIGHT: var(--blue-grey-300);
                --accent-secondary_LIGHT: var(--blue-200);
                --accent-secondary--muted_LIGHT: var(--blue-100);
                /* Alerts */
                    --alert-success_LIGHT: var(--green-100);
                    --alert-danger_LIGHT: var(--coral-300);
                    --alert-warning_LIGHT: var(--orange-200);
                    --alert-info_LIGHT: var(--orange-300);
                    --alert-primary_LIGHT: var(--blue-200);
                    --alert-secondary_LIGHT: var(--cloudy-100);
                /* State */
                    --state-disabled_LIGHT: var(--dusk-100);
            /* Fills */
                --main--fill_LIGHT: var(--bw-050);
                --main--muted--fill_LIGHT: var(--bw-200);
                --accent-primary--fill_LIGHT: var(--dusk-300);
                --accent-primary--muted--fill_LIGHT: var(--dusk-500);
                --accent-secondary--fill_LIGHT: var(--blue-600);
                --accent-secondary--muted--fill_LIGHT: var(--blue-400);
                /* Alerts */
                    --alert-success--fill_LIGHT: var(--green-400);
                    --alert-danger--fill_LIGHT: var(--coral-600);
                    --alert-warning--fill_LIGHT: var(--orange-400);
                    --alert-info--fill_LIGHT: var(--orange-600);
                    --alert-primary--fill_LIGHT: var(--blue-600);
                    --alert-secondary--fill_LIGHT: var(--cloudy-300);
                /* State */
                    --state-disabled--fill_LIGHT: var(--dusk-200);

        /* DARK MODE */
            /* Colors */
            --main_DARK: var(--blue-light-300);
            --main--muted_DARK: var(--blue-light-500);
            --accent-primary_DARK: var(--bw-050);
            --accent-primary--muted_DARK: var(--bw-200);
            --accent-secondary_DARK: var(--blue-200);
            --accent-secondary--muted_DARK: var(--blue-300);
            /* Alerts */
                --alert-success_DARK: var(--green-800);
                --alert-danger_DARK: var(--coral-800);
                --alert-warning_DARK: var(--orange-700);
                --alert-info_DARK: var(--orange-800);
                --alert-primary_DARK: var(--blue-900);
                --alert-secondary_DARK: var(--cloudy-700);
            /* State */
                --state-disabled_DARK: var(--dusk-700);
            /* Fills */
            --main--fill_DARK: var(--dusk-600);
            --main--muted--fill_DARK: var(--dusk-400);
            --accent-primary--fill_DARK: var(--dusk-500);
            --accent-primary--muted--fill_DARK: var(--dusk-300);
            --accent-secondary--fill_DARK: var(--blue-600);
            --accent-secondary--muted--fill_DARK: var(--blue-400);
            /* Alerts */
                --alert-success--fill_DARK: var(--green-400);
                --alert-danger--fill_DARK: var(--coral-500);
                --alert-warning--fill_DARK: var(--orange-300);
                --alert-info--fill_DARK: var(--orange-500);
                --alert-primary--fill_DARK: var(--blue-600);
                --alert-secondary--fill_DARK: var(--cloudy-200);
            /* State */
                --state-disabled--fill_DARK: var(--dusk-400);
    /* DEFAULT THEME */
}

.module-theme_secondary {
    /* LIGHT MODE */
        /* Colors */
        --main_LIGHT: rgb(98, 37, 37);
        --main--muted_LIGHT: rgb(89, 72, 72);
        --accent-primary_LIGHT: rgb(84, 27, 36);
        --accent-primary--muted_LIGHT: rgb(124, 73, 80);
        --accent-secondary_LIGHT: rgb(13, 86, 86);
        --accent-secondary--muted_LIGHT: rgb(49, 98, 98);
        /* Fills */
        --main--fill_LIGHT: rgb(234, 174, 174);
        --main--muted--fill_LIGHT: rgb(231, 193, 193);
        --accent-primary--fill_LIGHT: rgb(101, 201, 210);
        --accent-primary--muted--fill_LIGHT: rgb(119, 204, 213);
        --accent-secondary--fill_LIGHT: rgb(103, 89, 66);
        --accent-secondary--muted--fill_LIGHT: rgb(83, 74, 58);

     /* DARK MODE */
        /* Colors */
        --main_DARK: rgb(234, 174, 174);
        --main--muted_DARK: rgb(231, 193, 193);
        --accent-primary_DARK: rgba(255, 82, 108);
        --accent-primary--muted_DARK: rgba(212, 125, 138);
        --accent-secondary_DARK: rgba(30, 220, 220);
        --accent-secondary--muted_DARK: rgba(84, 166, 166);
        /* Fills */
        --main--fill_DARK: rgb(72, 20, 20);
        --main--muted--fill_DARK: rgba(90, 38, 38);
        --accent-primary--fill_DARK: rgba(53, 105, 110);
        --accent-primary--muted--fill_DARK: rgba(51, 87, 91);
        --accent-secondary--fill_DARK: rgba(211, 183, 135);
        --accent-secondary--muted--fill_DARK: rgba(187, 167, 130);
}

.module-theme_tertiary {
    /* LIGHT MODE */
        /* Colors */
        --main_LIGHT: rgb(67, 67, 67);
        --main--muted_LIGHT: rgb(111, 111, 111);
        --accent-primary_LIGHT: rgba(151, 135, 135);
        --accent-primary--muted_LIGHT: rgba(200, 182, 182);
        --accent-secondary_LIGHT: rgba(213, 165, 83);
        --accent-secondary--muted_LIGHT: rgba(184, 142, 70);
        /* Fills */
        --main--fill_LIGHT: rgb(232, 232, 232);
        --main--muted--fill_LIGHT: rgb(184, 184, 184);
        --accent-primary--fill_LIGHT: rgba(147, 147, 147);
        --accent-primary--muted--fill_LIGHT: rgba(174, 160, 160);
        --accent-secondary--fill_LIGHT: rgba(211, 183, 135);
        --accent-secondary--muted--fill_LIGHT: rgba(187, 167, 130);

    /* DARKMODE */
        /* Colors */
        --main_DARK: rgb(187, 187, 187);
        --main--muted_DARK: rgb(137, 137, 137);
        --accent-primary_DARK: rgba(151, 135, 135);
        --accent-primary--muted_DARK: rgba(200, 182, 182);
        --accent-secondary_DARK: rgba(213, 165, 83);
        --accent-secondary--muted_DARK: rgba(184, 142, 70);

        /* Fills */
        --main--fill_DARK: rgb(0, 0, 0);
        --main--muted--fill_DARK: rgb(75, 75, 75);
        --accent-primary--fill_DARK: rgba(147, 147, 147);
        --accent-primary--muted--fill_DARK: rgba(174, 160, 160);
        --accent-secondary--fill_DARK: rgba(211, 183, 135);
        --accent-secondary--muted--fill_DARK: rgba(187, 167, 130);
}

.mode-theme_light {
    --main: var(--main_LIGHT);
    --main--muted: var(--main--muted_LIGHT);
    --accent-primary: var(--accent-primary_LIGHT);
    --accent-primary--muted: var(--accent-primary--muted_LIGHT);
    --accent-secondary: var(--accent-secondary_LIGHT);
    --accent-secondary--muted: var(--accent-secondary--muted_LIGHT);

    --main--fill: var(--main--fill_LIGHT);
    --main--muted--fill: var(--main--muted--fill_LIGHT);
    --accent-primary--fill: var(--accent-primary--fill_LIGHT);
    --accent-primary--muted--fill: var(--accent-primary--muted--fill_LIGHT);
    --accent-secondary--fill: var(--accent-secondary--fill_LIGHT);
    --accent-secondary--muted--fill: var(--accent-secondary--muted--fill_LIGHT);

    /* Alerts */
    --alert-success: var(--alert-success_LIGHT);
    --alert-danger: var(--alert-danger_LIGHT);
    --alert-warning: var(--alert-warning_LIGHT);
    --alert-info: var(--alert-info_LIGHT);
    --alert-primary: var(--alert-primary_LIGHT);
    --alert-secondary: var(--alert-secondary_LIGHT);
    /* State */
    --state-disabled: var(--state-disabled_LIGHT);

    --alert-success--fill: var(--alert-success--fill_LIGHT);
    --alert-danger--fill: var(--alert-danger--fill_LIGHT);
    --alert-warning--fill: var(--alert-warning--fill_LIGHT);
    --alert-info--fill: var(--alert-info--fill_LIGHT);
    --alert-primary--fill: var(--alert-primary--fill_LIGHT);
    --alert-secondary--fill: var(--alert-secondary--fill_LIGHT);
    /* State */
    --state-disabled--fill: var(--state-disabled--fill_LIGHT);
}

.mode-theme_dark {
    --main: var(--main_DARK);
    --main--muted: var(--main--muted_DARK);
    --accent-primary: var(--accent-primary_DARK);
    --accent-primary--muted: var(--accent-primary--muted_DARK);
    --accent-secondary: var(--accent-secondary_DARK);
    --accent-secondary--muted: var(--accent-secondary--muted_DARK);

    --main--fill: var(--main--fill_DARK);
    --main--muted--fill: var(--main--muted--fill_DARK);
    --accent-primary--fill: var(--accent-primary--fill_DARK);
    --accent-primary--muted--fill: var(--accent-primary--muted--fill_DARK);
    --accent-secondary--fill: var(--accent-secondary--fill_DARK);
    --accent-secondary--muted--fill: var(--accent-secondary--muted--fill_DARK);

    /* Alerts */
    --alert-success: var(--alert-success_DARK);
    --alert-danger: var(--alert-danger_DARK);
    --alert-warning: var(--alert-warning_DARK);
    --alert-info: var(--alert-info_DARK);
    --alert-primary: var(--alert-primary_DARK);
    --alert-secondary: var(--alert-secondary_DARK);
    /* State */
    --state-disabled: var(--state-disabled_DARK);

    --alert-success--fill: var(--alert-success--fill_DARK);
    --alert-danger--fill: var(--alert-danger--fill_DARK);
    --alert-warning--fill: var(--alert-warning--fill_DARK);
    --alert-info--fill: var(--alert-info--fill_DARK);
    --alert-primary--fill: var(--alert-primary--fill_DARK);
    --alert-secondary--fill: var(--alert-secondary--fill_DARK);
    /* State */
    --state-disabled--fill: var(--state-disabled--fill_DARK);
}

/* Colors */
/* DOESNT CHANGE WITH THEME OR MODE */
.color__bw00 {
    color: var(--bw-00);
}
.color__bw10 {
    color: var(--bw-10);
}
.color__bw20 {
    color: var(--bw-20);
}
.color__bw30 {
    color: var(--bw-30);
}
.color__bw40 {
    color: var(--bw-40);
}
.color__bw50 {
    color: var(--bw-50);
}
.color__bw60 {
    color: var(--bw-60);
}
.color__bw70 {
    color: var(--bw-70);
}
.color__bw80 {
    color: var(--bw-80);
}
.color__bw90 {
    color: var(--bw-90);
}
/* DOESNT CHANGE WITH THEME OR MODE */

/* DOESNT CHANGE WITH MODE */
.color__hl10 {
    color: var(--highlight-10);
}
.color__hl20 {
    color: var(--highlight-20);
}
.color__hl30 {
    color: var(--highlight-30);
}
.color__hl40 {
    color: var(--highlight-40);
}
.color__hl50 {
    color: var(--highlight-50);
}
.color__hl60 {
    color: var(--highlight-60);
}
.color__hl70 {
    color: var(--highlight-70);
}
.color__hl80 {
    color: var(--highlight-80);
}
.color__hl90 {
    color: var(--highlight-90);
}
/* DOESNT CHANGE WITH MODE */

.theme-color__main {
    color: var(--main);
}
.theme-color__main--muted {
    color: var(--main--muted);
}
.theme-color__accent-primary {
    color: var(--accent-primary);
}
.theme-color__accent-primary--muted {
    color: var(--accent-primary--muted);
}
.theme-color__accent-secondary {
    color: var(--accent-secondary);
}
.theme-color__accent-secondary--muted {
    color: var(--accent-secondary--muted);
}
/* Alerts */
.theme-color__alert-success {
    color: var(--alert-success)
}
.theme-color__alert-danger {
    color: var(--alert-danger)
}
.theme-color__alert-warning {
    color: var(--alert-warning)
}
.theme-color__alert-info {
    color: var(--alert-info)
}
.theme-color__alert-primary {
    color: var(--alert-primary)
}
.theme-color__alert-secondary {
    color: var(--alert-secondary)
}
/* Alerts */
/* State */
.theme-color__state-disabled {
    color: var(--state-disabled)
}
/* State */
/* Translucent Overlay */
.theme-color__translucent-overlay{
    color: var(--translucent-overlay)
}
/* 
Colors using Fills 
*Should be rarely used.
*/

/* Fills */
/* DOESNT CHANGE WITH THEME OR MODE*/
.fill__bw00 {
    background-color: var(--bw-00);
}
.fill__bw10 {
    background-color: var(--bw-10);
}
.fill__bw20 {
    background-color: var(--bw-20);
}
.fill__bw30 {
    background-color: var(--bw-30);
}
.fill__bw40 {
    background-color: var(--bw-40);
}
.fill__bw50 {
    background-color: var(--bw-50);
}
.fill__bw60 {
    background-color: var(--bw-60);
}
.fill__bw70 {
    background-color: var(--bw-70);
}
.fill__bw80 {
    background-color: var(--bw-80);
}
.fill__bw90 {
    background-color: var(--bw-90);
}
/* DOESNT CHANGE WITH THEME OR MODE*/

/* DOESNT CHANGE WITH  MODE*/
.fill__hl10 {
    background-color: var(--highlight-10);
}
.fill__hl20 {
    background-color: var(--highlight-20);
}
.fill__hl30 {
    background-color: var(--highlight-30);
}
.fill__hl40 {
    background-color: var(--highlight-40);
}
.fill__hl50 {
    background-color: var(--highlight-50);
}
.fill__hl60 {
    background-color: var(--highlight-60);
}
.fill__hl70 {
    background-color: var(--highlight-70);
}
.fill__hl80 {
    background-color: var(--highlight-80);
}
.fill__hl90 {
    background-color: var(--highlight-90);
}
/* DOESNT CHANGE WITH  MODE*/

.theme-fill__main {
    background-color: var(--main--fill);
}
.theme-fill__main--muted {
    background-color: var(--main--muted--fill);
}
.theme-fill__accent-primary {
    background-color: var(--accent-primary--fill);
}
.theme-fill__accent-primary--muted {
    background-color: var(--accent-primary--muted--fill);
}
.theme-fill__accent-secondary {
    background-color: var(--accent-secondary--fill);
}
.theme-fill__accent-secondary--muted {
    background-color: var(--accent-secondary--muted--fill);
}
/* Alerts */
.theme-fill__alert-success {
    background-color: var(--alert-success--fill)
}
.theme-fill__alert-danger {
    background-color: var(--alert-danger--fill)
}
.theme-fill__alert-warning {
    background-color: var(--alert-warning--fill)
}
.theme-fill__alert-info {
    background-color: var(--alert-info--fill)
}
.theme-fill__alert-primary {
    background-color: var(--alert-primary--fill)
}
.theme-fill__alert-secondary {
    background-color: var(--alert-secondary--fill)
}
/* Alerts */
/* State */
.theme-fill__state-disabled {
    background-color: var(--state-disabled--fill)
}
/* State */

/* 
Fills using Colors 
*Should be rarely used.
*/

/* Psudo Classes */
/* HOVERS */
/* hover color*/

.theme-color__accent-primary--hover:hover{
    color: var(--accent-primary);
}
.theme-color__accent-secondary--muted--hover:hover{
    color: var(--accent-secondary--muted);
}
/* hover fill*/
.theme-fill__translucent-overlay--hover:hover{
    background-color: var(--translucent-overlay);
}

/* BORDERS */
/* border color */
.theme-color__main--border-color {
    border-color: var(--main);
}
.theme-color__main-muted--border-color {
    border-color: var(--main--muted);
}
.theme-color__translucent-overlay--border-color {
    border-color: var(--translucent-overlay);
}