/* Global Settings */
:root {
  --main-color-root: black;
  --main-color-2-root: white;
  --highlight-color-root: #d5a553;
  --highlight-color-2-root: #416392;
  --warning-color-root: red;
  --neutral-color-root: #00000010;
  --success-color-root: var(--highlight-color-root);

  --main-color-root-rgb: 0, 0, 0;
  --main-color-2-root-rgb: 255, 255, 255;
  --highlight-color-root-rgb: 213, 165, 83;
  --highlight-color-2-root-rgb: 213, 165, 83;
  --warning-color-root-rgb: 255, 0, 0;
  --neutral-color-root-rgb: 0, 0, 0, 0.314;
  --success-color-root-rgb: var(--highlight-color-root-rgb);

  --main-font: "Montserrat", sans-serif;

  font-family: var(--main-font);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

svg{
  background-color: rgb(43, 43, 43);
}