/* Base */
  @import "shared/base/color_modifiers_html.css";
  @import "shared/base/color_modifiers_svg.css";
  @import "shared/base/font_modifiers.css";
  @import "shared/base/resolution_modifiers.css";
/* Base

/* Layouts */
  /* @import "shared/layouts/layouts.css"; */
/* Layouts */

/* Will Remove Later (Adding these to modules: html/svg) */
/* Global Components */
  /* @import "shared/base/buttons/buttons.css"; */
/* Global Components */
/* Will Remove Later (Adding these to modules: html/svg) */

/* Modules */
  /* HTML */
    /* 1st Level Modules */
      @import "shared/modules/html/first_level_modules/panes/a-pane/a-pane.css";
    /* 2nd Level Modules */
      @import "shared/modules/html/second_level_modules/windows/a-window/a-window.css";
    /* 3rd Level Modules */
      /* @import "shared/modules/headers/a-header/a-header.css"; */
    /* 4th Level Modules */
      @import "shared/modules/html/fourth_level_modules/buttons/button_modes.css";
      @import "shared/modules/html/fourth_level_modules/buttons/a-button/a-button.css";
  /* HTML */

  /* SVG */
    /* 1st Level Modules */
      @import "shared/modules/svg/first_level_modules/svgs/a-svg/a-svg.css";
      /* windows */
    /* 2nd Level Modules */
      /* elements */
    /* 3rd Level Modules */
      /* buttons */
  /* SVG */
/* Modules */

/* Global Settings */
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}