<div class="b-footer <%= THEME_moduleTheme %> <%= THEME_bFooterContainerFill %>">
    <div class="b-footer__container">
            <div class="b-footer__sidebar b-footer__sidebar--left">
                <div class="b-header__logo-container">
                    FOOTER
                </div>
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button">footer</button>
                </div>
            </div>
            <div class="b-footer__sidebar b-footer__sidebar--right">
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 1</button>
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 2</button>
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button">UI BTN 3</button>
                </div>
                <div class="btn-container--row btn-align--center">
                    <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--text" type="button">MENU</button>
                </div>
            </div>
    </div>
</div>