
.b-document {
    overflow: auto;
    /* outline: solid 1pt black; */
    /* background-color: red; */
}

.b-document__container {
    z-index: 1;
    position: absolute;
    top: 80px;
    /* left: 100px; */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
    /* border-radius: 1rem; */
    border: 1px solid;
    overflow: hidden;
}
.b-document__container--active {
    z-index: 2;
    color: var(--highlight-10);
    border: 3px solid var(--highlight-10);
}

.b-document__header {
    z-index: 1;
    padding: 5px;
    text-align: center;
    cursor: default;
}

.b-document__body-container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* border: 1px solid black; */
    width: 40rem;
}

.b-document__subHeader {
    z-index: 1;
    padding: 2px;
    text-align: center;
    cursor: default;
}

.b-document__svg {
    z-index: 1;
    display: flex;
    /* width: 800px;
    height: 150px; */
    /* margin-top: 2rem; */
    /* border: 2px solid #00000020; */
}