.b-footer {
    overflow: auto;
    /* outline: solid 1pt black; */
    /* background-color: blue; */
}
  
.b-footer__container {
    z-index: 3;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: unset;
    width: 100%;
    padding: 1rem;
    pointer-events: none;
    /* background-color: #00000050; */
}
  
.b-footer__sidebar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* background-color: #00000050; */
}

.b-footer__sidebar--left {
    width: 40vw;
    justify-content: start;
    /* background-color: #00000050; */
}

.b-footer__sidebar--mid {
    width: 20vw;
    justify-content: center;
    /* background-color: #00000020; */
}

.b-footer__sidebar--right {
    width: 40vw;
    justify-content: end;
    /* background-color: #00000050; */
}

.b-footer__button-cont {
    pointer-events: all;
}