.a-window {
  overflow: auto;
  /* outline: solid 1pt black; */
  /* background-color: red; */
}

.a-window__header {
  min-height: 5rem;
  margin-bottom: 6rem;
  flex: 0 1 auto;
  background-color: var(--br-1);
}

.a-window__header-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--br-3);
}
/* modifier */
.a-window__header-container--centered {
  flex-flow: column;
  align-items: center;
}

.a-window__title-container {
  max-width: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--br-4);
}
/* modifier */
.a-window__title-container--centered {
  max-width: unset;
  margin-bottom: 3rem;
}

.a-window__title {
  background-color: var(--br-5);
}

.a-window__copy-container {
  max-width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--br-4);
}
/* modifier */
.a-window__copy-container--centered {
  max-width: unset;
  margin-bottom: 2rem;
}

.a-window__copy {
  background-color: var(--br-5);
}

.a-window__body {
  flex: 1 1 auto;
  background-color: var(--br-6);
}

.a-window__footer {
  min-height: 1rem;
  margin-top: 6rem;
  flex: 0 1 auto;
  background-color: var(--br-7);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .a-window__header-container {
    flex-flow: column;
  }
  .a-window__title-container {
    padding-bottom: 2rem;
    max-width: unset;
  }
  .a-window__copy-container {
    max-width: unset;
  }

  .a-window__title--centered h2 {
    /* font-weight: var(--font-weight-regular); */
    font-size: var(--text-size-large);
    text-transform: none;
    letter-spacing: 0px;
  }
  .a-window__copy--centered p {
    /* font-weight: var(--font-weight-medium); */
    font-size: var(--text-size-medium-large);
    text-transform: none;
    letter-spacing: 0.15px;
  }
}