.a-canvas {
    overflow: auto;
    /* outline: solid 1pt black; */
    /* background-color: red; */
}
  
.a-canvas__container {
    height: 100%;
    width: 100%;
}

.a-canvas__zoomLayer {
    width: 100vw;
    height: 100vh;
}

.a-canvas__panLayer{
    height: 500rem;
    width: 500rem;
    position: absolute;
    top: calc(50% - 250rem);
    left: calc(50% - 250rem);
}