
<!-- <script src="/javascripts/mathFunctions.js"></script> -->
<!-- Need D3 V3 & V7 -->
<!-- <script src="/javascripts/createPathsWSections.js"></script> -->
<!-- <script src="/javascripts/svgRectangle.js"></script> -->
<!-- <script src="/javascripts/rightAngle.js"></script> -->
<!-- <script src="/javascripts/rightAngleWDrag.js"></script> -->
<!-- <script src="/javascripts/curvePoints.js"></script> -->
<!-- <script src="/javascripts/curvePointNoGuides.js"></script> -->
<!-- Only need D3 V7 -->
<!-- <script src="/javascripts/curvePointNoGuidesV7.js"></script> -->
<!-- <script src="/javascripts/pathAddPoint.js"></script> -->
<!-- <script src="/javascripts/complexPaths.js"></script> -->
<!-- <script src="/javascripts/dynamicEndPoints.js"></script> -->
<!-- <script src="/javascripts/drawFreeUntil.js"></script> -->
<!-- <script src="/javascripts/addPointsUntilDbl.js"></script> -->
<!-- <script src="/javascripts/addPointToLine.js"></script> -->
<!-- <script src="/javascripts/addCurvePointToLine.js"></script> -->
<!-- <script src="/javascripts/drawParallel.js"></script> -->
<!-- <script src="/javascripts/addCurvePointToLineAndDrawParallel.js"></script> -->
<script src="/javascripts/addCurvePointToLineAndDrawParallel.js"></script>


<!-- <div class="a-window <%#= THEME_moduleTheme %> <%#= THEME_windowContainerFill %>">
    <div class="a-window__header">
        <div class="a-window__header-container">
            <div class="a-window__title-container">
                <div class="a-window__title">
                    <h2 class="heading_2 bold--medium <%#= THEME_windowTitleColor %>">
                        <%#= CONTENT_aWindow_content.HEADER.heading %>
                    </h2>
                </div>
            </div>
            <div class="a-window__copy-container">
                <div class="a-window__copy">
                    <p class="heading_3 <%#= THEME_windowCopyColor %>">
                        <%#= CONTENT_aWindow_content.HEADER.paragraph %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="a-window__body">
        <div class="a-window__body-container">
            <div class="a-window__slot">
                <%#- include(MODULE_aWindow_first, {}) %>
            </div>
        </div>
    </div>
    <div class="a-window__footer">
        <div class="a-window__footer-container">
            <div class="a-window__actions">
                <div class="btn-container--row btn-align--<%#= ACTIONS_aWindow_footerBtnAlign %>">
                    <%# if (ACTIONS_aWindow_footerBtnExist === true) { %>
                        <button class="btn button__btn btn--contained <%#= ACTIONS_aWindow_btnMode %>" type="button" onclick=<%#= ACTIONS_aWindow_btnHref %>><%#= ACTIONS_aWindow_footerBtnText %></button>
                    <%# } %>
                    <div class="a-window__slot">
                        <%# if (MODULE_aWindow_second && ACTIONS_bForm_exist === true) { %>
                            <%#- include(MODULE_aWindow_second, {}) %>
                        <%# } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->